body {
    background: #28ed3c;
}
.container{
    height: 900px;
    min-width: 100%;
}
.leftContainer{
    width: 60%;
    float:left;
    max-height: 100%;
}
.rightContainer{
    width: 40%;
    float:right;
    height: 100%;
}
.photo {
    max-width: 100%;
    max-height: 855px;
}
.up2{
    max-height: 870px;
    width: 100%;
}
.up1{
    background-color: #eeeeee;
    border-radius: 10px;
    width: 100%;
    border: 1px solid black;
}
.down1{
    max-width: 100%;
    background-color: #eeeeee;
    border-radius: 10px;
    min-height: 89.5%;
    border: 1px solid black;
}
.down2{
    background-color: #eeeeee;
    border-radius: 10px;
    width: 100%;
    max-height: 10%;
    border: 1px solid black;
}
.desc{
    font-size: 20px;
    min-height: 80%;
}
.leftButton{
    margin: 300px 0;
}
.rightButton{
    margin: 300px 0;
    float:right;
}
.albumPage{
    width:80%;
}
.PageContainer{
    display: flex;
    height: 900px;
    min-width: 100%;
}
.downContainer{
    min-width: 100%;
    background-color: #eeeeee;
    border-radius: 10px;
    border: 1px solid black;
}
.albumContainer{
    display: flex;
}
.facultyName{
    font-size: 40px;
    min-width: 100%;
    font-style: italic;
}
.logo{
    max-width: 60px;
}