body {
    background: #28ed3c;
}
.container{
    display: flex;
    height: 700px;
}
.leftContainer{
    width: 60%;
    float:left;
    height: 700px;
}
.rightContainer{
    width: 40%;
    float:right;
    height: 700px;
}
.photo{
    max-width: 400px;
    height: 600px;
}
.up1{
    background-color: #eeeeee;
    border-radius: 10px;
}
.down1{
    background-color: #eeeeee;
    border-radius: 10px;
    height: 600px;
    border-color: black;
}
.down2{
    background-color: #eeeeee;
    border-radius: 10px;
    align-content: center;
    width: 400px;
}
.desc{
    font-size: 20px;
}
.leftButton{
    margin: 300px 0;
}
.rightButton{
    margin: 300px 0;
    float:right;
    justify-content: space-between;
}
.albumPage{
    width: 1100px;
}