body {
    background: #28ed3c;
}
.container{
    display: flex;
    height: 900px;
    min-width: 100%;
}
.leftContainer{
    width: 60%;
    float:left;
    max-height: 100%;
}
.rightContainer{
    width: 40%;
    float:right;
    max-height: 100%;
}
.photo {
    max-width: 100%;
    max-height: 900px;
}
.up2{
    max-height: 900px;
    width: 100%;
}
.up1{
    background-color: #eeeeee;
    border-radius: 10px;
    width: 100%;
}
.down1{
    max-width: 100%;
    background-color: #eeeeee;
    border-radius: 10px;
    min-height: 100%;
}
.down2{
    background-color: #eeeeee;
    border-radius: 10px;
    width: 100%;
    max-height: 10%;
}
.desc{
    font-size: 20px;
}
.leftButton{
    margin: 300px 0;
}
.rightButton{
    margin: 300px 0;
    float:right;
}
.albumPage{
    width:80%;
}